@tailwind base;
@tailwind components;
@tailwind utilities;



.container
{
    @apply max-w-[90rem] p-6 w-full mx-auto;
}

@layer components
{
    .header
    {
        @apply bg-light shadow-md relative;
    }

    .branding
    {
        @apply md:flex items-center gap-12
    }
    .branding img
    {
        @apply w-14;
    }

    .branding .header__navd
    {
        @apply hidden md:flex gap-10;
    }

    .branding .header__navd li a
    {
        @apply font-medium text-sm text-black hover:text-berde;
    }

    .header__action
    {
        @apply bg-light absolute top-[6.2rem] right-0 w-[0] h-[90vh] px-0 pt-0 overflow-hidden transition-all shadow-md md:static md:h-fit md:w-fit md:shadow-none;

    }
    .header__action.open
    {
        @apply w-[80%] px-10 pt-10 transition-all;
    }

    .header__action .header__navm
    {
        @apply border-b-gray-400 border-b-[2px] pb-5 flex 
        flex-col gap-5 md:hidden;
    }

    .header__action .header__navm li:hover a
    {
        @apply text-berde;
    }
    .header__action .header__navm li a
    {
        @apply font-medium text-xl text-black;
    }

    .header__action .header__btn a
    {
       @apply flex gap-[1rem] items-center hover:text-berde
    }

    .header__action .header__btn
    {
        @apply pt-5 flex flex-col gap-3 
        md:flex-row-reverse md:p-2;
    }
    .header__action .header__kamote
    {
        @apply flex gap-5
    }

    .burger__menu
    {
        @apply md:hidden;
    }

    .burger__menu span
    {
        @apply w-[1.5rem] h-[.2rem] bg-gray-700 block rounded-full transition-all
    }

    .burger__menu span:nth-child(2)
    {
        @apply my-1
    }

    .header__wrapper
    {
        @apply flex items-center justify-between
    }


    .burger__menu.open span:first-child
    {
        @apply transform translate-y-[10px] rotate-[225deg] transition-all
    }

    .burger__menu.open span:nth-child(2)
    {
        @apply opacity-0 transition-all
    }

    .burger__menu.open span:last-child
    {
        @apply transform translate-y-[-7px] rotate-[-225deg] transition-all
    }
}

@layer utilities
{
    .btn{
        @apply inline-block py-[.5rem] px-[1rem] rounded-full border-transparent border-[1px] 
        text-sm font-medium hover:scale-[1.1];
    }

    .btn.bg--dark
    {
        @apply bg-black text-light;
    }

    .btn.bg--light
    {
        @apply bg-light border-[2px] text-black border-black;
    }
}

/* BANNER */

.banner{
    @apply py-6
}
.banner__wrapper{
    @apply flex flex-col gap-6 
}
.banner__item{
    @apply mx-auto md:grid md:grid-cols-[_2fr,_2fr] 
    md:items-center md:max-w-[90rem] 
}
.banner__item:nth-child(even) img{
    @apply md:order-2
}
.banner__text{
    @apply text-center py-3 flex flex-col gap-6  
}

.banner__item:nth-child(odd) h2{
    @apply text-3xl font-semibold text-dark
    md:text-5xl md:max-w-[30rem] md:mx-auto
}
.banner__item:nth-child(odd) p{
    @apply text-2xl text-dark px-[2rem] max-w-[35rem] mx-auto md:text-[1.8rem]
}

.banner__item:nth-child(even) h2{
    @apply text-2xl font-semibold text-dark
    md:text-[1.7rem] md:max-w-[25rem] md:mx-auto
}
.banner__item:nth-child(even) p{
    @apply text-xl text-dark max-w-[25rem] mx-auto md:text-[1.7rem]
}
.banner__item:last-child h2,.banner__item:last-child p{
    @apply text-light
}

.banner__item:first-child{
    @apply bg-[#d5d0ea]
}
.banner__item:nth-child(2){
    @apply bg-[#f2f0eb]
}
.banner__item:nth-child(3){
    @apply bg-[#cee8c9]
}
.banner__item:nth-child(4){
    @apply bg-[#f5cac4]
}
.banner__item:nth-child(5){
    @apply bg-[#dbe6f2]
}
.banner__item:nth-child(6){
    @apply bg-[#d5d0ea]
}
.banner__item:nth-child(7){
    @apply bg-[#e99264]
}
.banner__item:last-child{
    @apply bg-[#006241]
}
.links
{
    @apply py-4 shadow md:border-t-2;
}

.links__item ul
{
    @apply max-h-[0rem] overflow-hidden transition-all 
    flex flex-col gap-6 md:max-h-[50rem] md:pt-6;
}

.links__item ul.open
{
    @apply max-h-[50rem] pt-6 transition-all;
}

.links__item ul li a
{
    @apply text-gray-500 hover:text-black;
}

.links__item h4
{
    @apply flex items-center justify-between
    font-semibold hover:cursor-pointer;
}

.links__wrapper
{
    @apply grid grid-cols-1 gap-10 
    md:grid md:grid-cols-6;
}

.links__item h4 i
{
    @apply transition-all md:hidden;
}
.links__item h4 i.open
{
@apply transform rotate-180 transition-all;
}

.links .links__under
{
    @apply mb-4;
}

.links .links__under .links__under__wrapper .links__under__wrapperItem1 ul
{
    @apply flex flex-row gap-4
}
.links .links__under .links__under__wrapper .links__under__wrapperItem1
{
    @apply py-6 md:border-t mt-4;
}

.links .links__under .links__under__wrapper .links__under__wrapperItem1 ul li a 
{
    @apply text-[2rem] ;
}
.links .links__under .links__under__wrapper .links__under__wrapperItem2 ul
{
    @apply flex flex-col gap-4 md:flex md:flex-row
}

.links .links__under .links__under__wrapper .links__under__wrapperItem2 ul li:nth-child(even)
{
    @apply md:border-l md:border-r md:border-black md:border-spacing-4;
}

.links .links__under .links__under__wrapper .links__under__wrapperItem2 ul li:last-child
{
    @apply border-r-0;
}


.links .links__under .links__under__wrapper .links__under__wrapperItem2 ul li a
{
    @apply font-medium md:p-4;
}


