@tailwind base;
@tailwind components;
@tailwind utilities;



.container
{
    @apply max-w-[100rem] p-6 w-full mx-auto;
}

@layer components
{
    .header
    {
        @apply bg-light shadow-md relative;
    }

    .branding
    {
        @apply md:flex items-center gap-12
    }
    .branding img
    {
        @apply w-14;
    }

    .branding .header__navd
    {
        @apply hidden md:flex gap-10;
    }

    .branding .header__navd li a
    {
        @apply font-medium text-sm text-black hover:text-berde;
    }

    .header__action
    {
        @apply bg-light absolute top-[6.2rem] right-0 w-[0] h-[90vh] px-0 pt-0 overflow-hidden transition-all shadow-md md:static md:h-fit md:w-fit md:shadow-none;

    }
    .header__action.open
    {
        @apply w-[80%] px-10 pt-10 transition-all;
    }

    .header__action .header__navm
    {
        @apply border-b-gray-400 border-b-[2px] pb-5 flex 
        flex-col gap-5 md:hidden;
    }

    .header__action .header__navm li:hover a
    {
        @apply text-berde;
    }
    .header__action .header__navm li a
    {
        @apply font-medium text-xl text-black;
    }

    .header__action .header__btn a
    {
       @apply flex gap-[1rem] items-center hover:text-berde
    }

    .header__action .header__btn
    {
        @apply pt-5 flex flex-col gap-3 
        md:flex-row-reverse md:p-2;
    }
    .header__action .header__kamote
    {
        @apply flex gap-5
    }

    .burger__menu
    {
        @apply md:hidden;
    }

    .burger__menu span
    {
        @apply w-[1.5rem] h-[.2rem] bg-gray-700 block rounded-full transition-all
    }

    .burger__menu span:nth-child(2)
    {
        @apply my-1
    }

    .header__wrapper
    {
        @apply flex items-center justify-between
    }


    .burger__menu.open span:first-child
    {
        @apply transform translate-y-[10px] rotate-[225deg] transition-all
    }

    .burger__menu.open span:nth-child(2)
    {
        @apply opacity-0 transition-all
    }

    .burger__menu.open span:last-child
    {
        @apply transform translate-y-[-7px] rotate-[-225deg] transition-all
    }
}

@layer utilities
{
    .btn{
        @apply inline-block py-[.5rem] px-[1rem] rounded-full border-transparent border-[1px] text-sm font-medium hover:scale-[0.9]
    }
    .btn.{
        @apply bg-black text-light;
    }
    .btn.bg--light{
        @apply bg-light text-black border-black border-[1px] hover:bg-zinc-200
    }
}

/* BANNER */

.banner{
    @apply py-6
}
.banner__wrapper{
    @apply flex flex-col gap-6 
}
.banner__item{
    @apply mx-auto md:grid md:grid-cols-[_2fr,_2fr] 
    md:items-center md:max-w-[100rem] 
}
.banner__item img
{
    @apply md:w-[100rem];
}
.banner__item:nth-child(even) img{
    @apply md:order-2 
}
.banner__text{
    @apply text-center py-3 flex flex-col gap-6  
}

.banner__item:nth-child(odd) h2{
    @apply text-3xl font-semibold text-black
    md:text-5xl md:max-w-[30rem] md:mx-auto
}
.banner__item:nth-child(odd) p{
    @apply text-2xl text-black px-[2rem] max-w-[35rem] mx-auto md:text-[1.8rem]
}

.banner__item:nth-child(even) h2{
    @apply text-2xl font-semibold text-black
    md:text-[1.7rem] md:max-w-[25rem] md:mx-auto
}
.banner__item:nth-child(even) p{
    @apply text-xl text-black max-w-[25rem] mx-auto md:text-[1.7rem]
}
.banner__item:last-child h2,.banner__item:last-child p{
    @apply text-light
}

.banner__item:first-child{
    @apply bg-[#d5d0ea]
}
.banner__item:nth-child(2){
    @apply bg-[#f2f0eb]
}
.banner__item:nth-child(3){
    @apply bg-[#cee8c9]
}
.banner__item:nth-child(4){
    @apply bg-[#f5cac4]
}
.banner__item:nth-child(5){
    @apply bg-[#dbe6f2]
}
.banner__item:nth-child(6){
    @apply bg-[#d5d0ea]
}
.banner__item:nth-child(7){
    @apply bg-[#e99264]
}
.banner__item:last-child{
    @apply bg-[#006241]
}
.links
{
    @apply py-4 shadow md:border-t-2;
}

.links__item ul
{
    @apply max-h-[0rem] overflow-hidden transition-all 
    flex flex-col gap-6 md:max-h-[50rem] md:pt-6;
}

.links__item ul.open
{
    @apply max-h-[50rem] pt-6 transition-all;
}

.links__item ul li a
{
    @apply text-gray-500 hover:text-black;
}

.links__item h4
{
    @apply flex items-center justify-between
    font-semibold hover:cursor-pointer;
}

.links__wrapper
{
    @apply grid grid-cols-1 gap-10 
    md:grid md:grid-cols-6;
}

.links__item h4 i
{
    @apply transition-all md:hidden;
}
.links__item h4 i.open
{
@apply transform rotate-180 transition-all;
}

.links .links__under
{
    @apply mb-4;
}

.links .links__under .links__under__wrapper .links__under__wrapperItem1 ul
{
    @apply flex flex-row gap-4
}
.links .links__under .links__under__wrapper .links__under__wrapperItem1
{
    @apply py-6 md:border-t mt-4;
}

.links .links__under .links__under__wrapper .links__under__wrapperItem1 ul li a 
{
    @apply text-[2rem] ;
}
.links .links__under .links__under__wrapper .links__under__wrapperItem2 ul
{
    @apply flex flex-col gap-4 md:flex md:flex-row
}

.links .links__under .links__under__wrapper .links__under__wrapperItem2 ul li:nth-child(even)
{
    @apply md:border-l md:border-r md:border-black md:border-spacing-4;
}

.links .links__under .links__under__wrapper .links__under__wrapperItem2 ul li:last-child
{
    @apply border-r-0;
}


.links .links__under .links__under__wrapper .links__under__wrapperItem2 ul li a
{
    @apply font-medium md:p-4;
}

/* REWARDS */

.rBanner
{
    @apply bg-bituinBanner min-h-[600px] bg-lberde 
    bg-cover bg-right-bottom 
    text-center 
    flex
    md:bg-starBanner md:bg-left
    md:text-left md:items-center;
}
.rBanner .rBanner__wrapper h1
{
    @apply text-[2.3rem]
    font-semibold text-wrap;
}

.rBanner .rBanner__wrapper p
{
    @apply py-6 md:text-[1.5rem];
}
.rBanner .rBanner__wrapper a:last-child
{
    @apply inline-block
}

/* COFFEE TAB */


.coffee__nav
{
    @apply bg-[#aed5c4] pt-10;
}

.coffee__nav h4
{
    @apply text-2xl font-semibold
    text-center md:pt-[1rem] md:pb-[2rem] font-bold
}

.coffee__nav ul
{
    @apply flex items-center justify-center mt-6
}

.coffee__nav ul li 
{
    @apply px-4 pb-3 border-b-4 border-transparent;
}
.coffee__nav ul li.active
{
    @apply border-b-4 border-berde 
}

.coffee__nav ul li a{
    @apply text-lg font-semibold md:text-[1.5rem]
}

.coffee__tab
{
    @apply bg-[#90c6b5] relative h-[500px] md:h-[250px];
}

.coffee__item
{
    @apply absolute opacity-0 transition-all top-7  
    md:grid md:grid-cols-[_2fr,_2fr] md:items-center md:max-w-[40rem]
    md:left-[32%];
}

.coffee__item img
{
    @apply object-cover
}

.coffee__item.active
{
    @apply opacity-100 transition-all;
}
.coffee__text h5
{
    @apply text-xl font-semibold text-center md:text-left 
}

.coffee__text p 
{
    @apply text-center md:text-left
}
.coffee__text
{
    @apply flex flex-col gap-4 mt-4 ;
}

/* EASY */
.easy 
{
    @apply py-10 md:py-[7rem]
}

.easy .easy__text
{
    @apply flex flex-col gap-2 items-center md:pb-7

}
.easy .easy__text h3
{
    @apply font-bold text-[1.8rem]
    md:text-[2rem]
}

.easy .easy__wrapper
{
    @apply md:grid md:grid-cols-3
}

.easy .easy__wrapper .easy__cards .easy__items
{
    @apply flex flex-row gap-3 items-center
    md:flex md:flex-col md:gap-3  md:justify-center
}
.easy .easy__wrapper .easy__cards .easy__items h4
{
    @apply pb-3;
}

.easy .easy__wrapper .easy__cards
{
    @apply p-6
}
.easy .easy__wrapper .easy__cards .easy__items h4
{
    @apply inline-block text-[1.2rem] font-bold
}


.easy .easy__wrapper .easy__cards .easy__items span
{
    @apply text-[2rem] border-berde border-[3px] 
    rounded-full py-[.4rem] px-7 text-berde font-bold
    md:px-7

}
.easy .easy__wrapper .easy__cards  p
{
    @apply text-[1rem] mt-2 ml-[4.5rem] text-justify md:text-center
    md:text-[1.2rem];
} 